<article class="bg-light p-5 border-bottom">
  <p>
    <strong>Author:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <!-- Destroy comment -->
  <p>
    <%= link_to([comment.post, comment], method: :delete,
    data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger') do %>
      <%= icon('fas', 'trash fa-1x') %> Comment
    <% end %>
  </p>
  <!-- End of Destroy comment section -->
</article>
