<aside class="pd-section">
  <div class="container text-center">

    <h3 class="h2 mb-5">Stay Update</h3>

    <p class="mb-5">Be the first to know about our latest editions<br>
    and get exlusive invites to our events.</p>

    <form class="form-inline justify-content-center mb-3">
      <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" placeholder="Email Address">
      <button type="submit" class="btn btn-primary btn-lg mb-2">Contact Us</button>
    </form>

    <div class="mx-auto mb-3">
      <%= icon('fab', 'facebook-f fa-2x', class: 'soc-icon') %>
      <%= icon('fab', 'twitter fa-2x', class: 'soc-icon') %>
      <%= icon('fab', 'linkedin-in fa-2x', class: 'soc-icon') %>
    </div>

  </div>
</aside>
