<div class="bg-dark-blue p-5">
  <p class="h4 mb-4 text-warning">Categories</p>
  <ul>
    <li>Company news</li>
    <li>Freelance translator</li>
    <li>Interesting to know</li>
    <li>Language Skills</li>
    <li>Media</li>
    <li>Research</li>
  </ul>
  <hr class="mb-5 mt-5 border-top">

  <p class="h4 mb-4 text-warning">Most Popular</p>
  <hr class="mb-5 mt-5 border-top">

  <p class="h4 mb-4 text-warning">Comments</p>
  <hr class="mb-5 mt-5 border-top">

  <p class="h4 mb-4 text-warning">Tags</p>
  <hr class="mb-5 mt-5 border-top">

  <p class="h4 mb-4 text-warning">Contacts</p>
  <p><strong>ProLingua</strong> providing high quality, professional translation services for over 15 years. </p>

  <div class="media mb-4">
    <%= icon('fas', 'map-marker-alt fa-2x', class: 'align-self-center mr-4 text-warning') %>
    <div class="media-body">
      8500, Lorem Street,<br>
      Chicago, IL, 55030
    </div>
  </div>

  <div class="media mb-4">
    <%= icon('fas', 'at fa-2x', class: 'mr-3 text-warning') %>
    <div class="media-body align-self-center">
      info@yoursite.com
    </div>
  </div>

  <div class="media mb-4">
    <%= icon('fas', 'phone-volume fa-2x', class: 'mr-4 text-warning') %>
    <div class="media-body align-self-center">
      (123) 456 457 876
    </div>
  </div>
</div>
