<!-- Title -->
<header class="mt-78">
  <div class="jumbotron jumbotron-fluid" id="title-about-page">
    <div class="container text-center">
      <h1 class="display-4">Editing Post</h1>
    </div>
  </div>
</header>

<div class="container mb-5 mt-5">
  <%= render 'form', post: @post %>

  <p><%= link_to 'Show', @post, class: 'btn btn-info' %> <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %></p>
</div>
