/* Bootstrap */
@import "bootstrap";
/* Font-awesome */
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  hyphens: auto;
}

h2 {
  margin-bottom: 2rem;
}

.pd-section {
  padding: 100px 0;
}

aside, footer {
  background-color: #09142f;
  color: #a2afcb;
}

footer {
  padding: 2rem 0;
}

/* Navbar */
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

/* Slider */
.carousel-item {
  height: 90vh;
}

/* Social icons */
.soc-icon {
  color: #a2afcb;
  padding: 1.5rem;
  cursor: pointer;
}

.soc-icon:hover {
  color: #f2f2f2;
}

/* Cards */
.card-header {
  padding: 1.8em 3.4em;
  font-size: 1.4rem;
 }

.card-blue {
  background-color: #377dff;
  color: #EBF2FF;
}

.card-green {
  background-color: #00c9a7;
  color: #EBF9F6;
}

.card-red {
  background-color: #DE4537;
  color: #EBF9F6;
}

.card-plus-icon {
  color: #ccc;
  margin: 1.5rem 0 1rem;
  transition: all 0.3s ease;
}

.card-plus-icon:hover {
  color: #333;
}

.bg-light-blue {
  background-color: #EBF2FF;
  color: #377dff;
}

#faqs .card .card-header {
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
}

.card-btn {
  color: #1e2022;
  text-align: left;
}

.card:hover {
  border-color: rgba(55, 125, 255, 0.5);
  box-shadow: 0 0 35px rgba(55, 125, 255, 0.125);
 }

.card .btn-link:hover {
  color: #0056b3;
  text-decoration: none;
}

/* How it works */
.btn-icon {
  position: relative;
  line-height: 0;
  font-size: 2rem;
  width: 4.125rem;
  height: 4.125rem;
  padding: 0;
}

.btn-soft-primary {
  color: #377dff;
  background: rgba(55, 125, 255, 0.1);
  border-color: transparent;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn-icon__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* About Title */
#title-about-page {color: #EBF9F6;
  background-image: url("main_header_bg.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/* About Call-to-action */
#block-action {height: 100vh; color: #EBF9F6;
  background-image: url("call-to-action.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#block-action .display-4 {
  font-size: 3.5rem; letter-spacing: 0.5px;
}
#block-action .lead {
  font-size: 2rem; margin-bottom: 2rem;
}

/* Media Query */
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  .pd-section {
    padding: 50px 0;
  }

  .p-5 {
    padding: 1.5rem !important;
  }

  .xs-btn-block {
    width: 100%;
  }
}
